{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}


</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<div class="topnav">
  <a class="active" href="{% url 'adminindex' %}">Home</a>
  <a href="{% url 'addstudent' %}">ADD_STUDENT_DETAILES</a>
  <a href="{% url 'addstudentlist' %}">ADD_STUDENT_LIST</a>
  <a href="{% url 'logout' %}">LOGOUT</a>

</div>
<div>
    
  
   </div>
<div>
  <!-- <img src="url(assets\static\imazes\download (4).jpg)"> -->
  <img src="{% static 'imazes/bg5-N.jpg' %}" alt="My image" height="495" width="1300" >
<!-- </div> -->
{% block content %}
  {% endblock %}

<div>
    <footer class="footer" style="background-color: #c29e9e;">
        <div class="container">
            <div class="footer-content">
                <div class="footer-logo">
                    
                </div>
                
            </div>
            
        </div>
        <div class="footer-bottom" align="center">
            <p>&copy;   DEGIEN BY NAVYAITSOLUTIONS. All rights reserved.</p>
        </div>
    </footer>
    
    
</div>
</body>
</html>
