{% extends 'base.html' %}
{% block content %}
<style>
    .login-container {
        width: 400px;
        margin: 30px auto;
        padding: 20px;
    
        border: 5px solid #32c153;
        border-radius: 30px;
        background-color: #b82525;
    }
</style>

<marquee behavior="scroll" direction="left" style="color:lawngreen;"><h1>WELCOME TO USERLOGIN</h1></marquee>

<div align="center" class="login-container">
    <h2>STUDENTREGISTERFORM</h2>
    <form action="{% url 'UserRegisterActions' %}" method="post">
        {% csrf_token %}
        <label>name:</label>
        <input type="text" name="name" required><br><br>
        <label>loginid:</label>
        <input type="text" name="loginid" required><br><BR>
        <label>Password:</label>
        <input type="password" name="password" required><br><BR>
        <label>mobile:</label>
        <input type="number" name="mobile" required><br><BR>
        <label>email:</label>
        <input type="email" name="email" required><br><BR>
        <label>locality:</label>
        <input type="text"  name="locality" required><br><BR>
        <button type="submit">Login</button>
        {% if messages %}
            {% for message in messages %}
            <font color='red'> {{ message }}</font>
            {% endfor %}
        {% endif %}



    </form>
</div>


{% endblock %}
